.form-contairn{
    position: relative;
    left: 35%;
    width: 28%;
    height: 600px;
    background-image: url('/img/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}